<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
	    	<pattern>%d{yyyy-MM-dd HH:mm:ss}  %highlight(%level %logger) - %msg%n</pattern>
	  	</encoder>    
	</appender>
	 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		<file>D:/picenter/source/log/pTargetUser.log</file>
  		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<!-- rollover daily -->
    		<fileNamePattern>D:/picenter/source/log/pTargetUser-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
    			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
      			<!-- or whenever the file size reaches 100MB -->
      			<maxFileSize>100MB</maxFileSize>
			<!--  30일 지난 파일 삭제 -->
      			<maxHistory>30</maxHistory>
    		</timeBasedFileNamingAndTriggeringPolicy>
  		</rollingPolicy>
  		<encoder>
    		<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %logger - %msg%n</pattern>
  	</encoder>
</appender>
	 
  <logger name="jdbc" level="OFF"/>
  
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="DEBUG"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="DEBUG"/>
  <logger name="jdbc.connection" level="OFF"/>
  
  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>